{% extends 'base.html' %}

{% block title %}
Password Change Successful
{% endblock %}

{% block content %}
<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card">
                <div class="card-header">
                    <h2 class="text-center">Password Change Successful</h2>
                </div>
                <div class="card-body">
                    <p>Your password has been successfully changed.</p>
                    <p><a href="{% url 'login' %}">Login</a> to your account with the new password.</p>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
