
{% extends 'base.html' %}

{% block title %}
Password Reset
{% endblock %}

{% block content %}
<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card">
                <div class="card-header">
                    <h2 class="text-center">Password Reset</h2>
                </div>
                <div class="card-body">
                    <form method="post">
                        {% csrf_token %}
                        <div class="mb-3">
                            <label for="{{ form.email.id_for_label }}" class="form-label fw-semibold">Email</label>
                            <input type="email" name="{{ form.email.name }}" value="{{ form.email.value|default_if_none:'' }}" id="{{ form.email.id_for_label }}" class="form-control border {% if form.email.errors %}is-invalid{% endif %}" {% if form.email.required %}required{% endif %}>
                            {% if form.email.errors %}
                                <div class="text-danger">
                                    {% for error in form.email.errors %}
                                        {{ error }}
                                    {% endfor %}
                                </div>
                            {% endif %}
                        </div>
                        <div class="text-center">
                            <input class="btn btn-primary" type="submit" value="Reset Password"></input>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}