{% extends 'base.html' %}

{% block title %}
Bay List
{% endblock %}

{% block content %}
    <h1 class="pt-4">Bay List</h1>
    <a class="btn btn-primary mb-4" href="{% url 'add_bay' %}">Add Bay</a>
    <ul class="bay-list list-unstyled pt-4 border-top d-flex flex-row align-items-center flex-wrap gap-2">
        {% for bay in bays %}
            <li>
                <a class="text-decoration-none" href="{% url 'edit_bay' bay.id %}">
                    <p class="fs-4 py-2 px-3 bg-darky rounded-3">{{ bay.name }}</p>
                </a>
            </li>
        {% endfor %}
    </ul>
{% endblock %}