{% extends 'base.html' %}

{% block title %}
Add Product
{% endblock %}

{% block content %}
<div class="container">
    <h1 class="pt-4">Add Product</h1>
    <form method="post" action="{% url 'add_product' %}">
        {% csrf_token %}
        <div class="mb-3">
            <label for="{{ form.product_code.id_for_label }}" class="your-custom-label-class">{{ form.product_code.label }}</label>
            <input type="text" name="{{ form.product_code.name }}" id="{{ form.product_code.id_for_label }}" class="form-control border" value="{{ form.product_code.value|default_if_none:'' }}">
        </div>
        <div class="mb-3">
            <label for="{{ form.product.id_for_label }}" class="your-custom-label-class">{{ form.product.label }}</label>
            <input type="text" name="{{ form.product.name }}" id="{{ form.product.id_for_label }}" class="form-control border" value="{{ form.product.value|default_if_none:'' }}">
        </div>
        <div class="mb-3">
            <label for="{{ form.presentation.id_for_label }}" class="your-custom-label-class">{{ form.presentation.label }}</label>
            <input type="text" name="{{ form.presentation.name }}" id="{{ form.presentation.id_for_label }}" class="form-control border" value="{{ form.presentation.value|default_if_none:'' }}">
        </div>
        <div class="d-flex flex-row align-items-center gap-2">
            <input class="btn btn-primary" type="submit" value="Add Product">
            <a class="btn bg-darky border" href="{% url 'product_list' %}">Back to Product List</a>
        </div>
    </form>
</div>
{% endblock %}