{% extends 'base.html' %}

{% load custom_filters %}

{% block title %}
    Batch History
{% endblock %}

{% block content %}
    <h1>Batch History: {{ batch.batch_number }}</h1>

    <div class="table-responsive-sm">
        <table class="table table-sm table-bordered table-hover">
        <thead>
            <tr>
                <th>Action</th>
                <th>Date and Time</th>
                <th>Changes</th>
                <th>User</th>
            </tr>
        </thead>
        <tbody>
            {% for log_entry in log_entries %}
                <tr>
                    <td>{{ log_entry.get_action_display }}</td>
                    <td>{{ log_entry.timestamp }}</td>
                    <td>
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>Field</th>
                                    <th>From</th>
                                    <th>To</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% with log_entry.changes|json_loads as changes %}
                                    {% for field, values in changes.items %}
                                        <tr>
                                            <td>{{ field }}</td>
                                            <td>{{ values.0 }}</td>
                                            <td>{{ values.1 }}</td>
                                        </tr>
                                    {% endfor %}
                                {% endwith %}
                            </tbody>
                        </table>
                    </td>
                    <td>
                        {% if log_entry.actor %}
                            {{ log_entry.actor }}
                        {% elif log_entry.actor_id %}
                            User ID: {{ log_entry.actor_id }}
                        {% else %}
                            N/A
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}