{% extends 'base.html' %}

{% block title %}
Packaging
{% endblock %}

{% block content %}
{% for bay in bays %}
    <h2>{{ bay.name }}</h2>
    <div class="table-responsive-sm">
    <table class="table table-sm table-bordered table-hover">
        <thead>
        <tr>
            <th scope="col">Batch Number</th>
            <th scope="col">Product Code</th>
            <th scope="col">Product</th>
            <th scope="col">Presentation</th>
            <th scope="col">BOM Received</th>
            <th scope="col">Comments</th>
            <th scope="col">Target Start Date</th>
            <th scope="col">Target End Date</th>
            <th scope="col">Complete Date Target</th>
        </tr>
    </thead>
        {% for targetdate in bay.targetdate_set.all|dictsort:"target_start_date" %}
            {% if not targetdate.batch.batch_complete %}
            <tbody {% if targetdate.batch.on_hold %}class="table-danger"{% endif %}>
                <tr>
                    {% if user.is_authenticated %}
                    <td scope="row"><a href="{% url 'edit_batch' targetdate.batch.id %}">{{ targetdate.batch.batch_number }}</a></td>
                    {% else %}
                    <td scope="row">{{ targetdate.batch.batch_number }}</td>
                    {% endif %}
                    <td>{{ targetdate.batch.product_code }}</td>
                    <td>{{ targetdate.batch.product_code.product }}</td>
                    <td>{{ targetdate.batch.product_code.presentation }}</td>
                    <td>{% if targetdate.batch.bom_received == True %} Yes {% else %} No {% endif %}</td>
                    <td>{{ targetdate.batch.comments }}</td>
                    <td>{{ targetdate.target_start_date }}</td>
                    <td>{{ targetdate.target_end_date }}</td>
                    <td>{{ targetdate.batch.complete_date_target }}</td>
                </tr>
            </tbody>
            {% endif %}
        {% endfor %}
    </table>
</div>
{% endfor %}
{% endblock %}