{% extends 'base.html' %}

{% load custom_filters %}

{% block title %}
    Batch History
{% endblock %}

{% block content %}
    <h1>Batch History: <a href="{% url 'batch_detail' batch.id %}">{{ batch.batch_number }}</a></h1>

    <div class="table-responsive-sm">
        <table class="table table-sm table-bordered table-hover">
              <tr>
                <th>Field</th>
                <th>Old Value</th>
                <th>New Value</th>
                <th>user</th>
                <th>timestamp</th>
              </tr>
              {% for change in changes %}
              <tr>
                  <td>{{ change.field }}</td>
                  <td>{{ change.old }}</td>
                  <td>{{ change.new }}</td>
                  <td>{{ change.user }}</td>
                  <td>{{ change.timestamp|date:"F j, Y, P" }}</td>
              </tr>
              {% endfor %}
            </table>
            
    </table>
</div>
{% endblock %}