{% extends 'base.html' %}

{% block title %}
Packaging
{% endblock %}

{% block content %}
<div class="container">
    {% for bay in bays %}
    <div class="d-flex flex-column gap-2 py-4">
        <h2 class="d-flex flex-column"><span class="fs-6">Bay</span> {{ bay.name }}</h2>
        <div class="grid-container">
            {% for targetdate in bay.active_batches %}
                <div class="grid-item rounded-3 shdw border border-light-subtle">
                    <div class="d-flex flex-column align-items-start gap-2">
                        <div class="d-flex flex-column gap-2 w-100">
                            <div class="tag d-none d-inline-flex align-items-center px-2 py-1 bg-cherry rounded-2 w-100 {% if targetdate.batch.on_hold %} on text-danger {% endif %}">
                                <p class="m-0 fs-6 fw-bold m-auto">ON HOLD</p>
                            </div>
                            <div class="d-flex flex-row align-items-center gap-2">
                                {% if user.is_authenticated %}
                                <div class="d-flex flex-row gap-1 px-2 py-1 rounded-2 mb-2 flex-fill {% if targetdate.batch.manufacture_date > today_date %}bg-blu{% else %}bg-darky-light{% endif %}">
                                    <p class="fw-semibold m-0">Batch Number:</p>
                                    <a href="{% url 'batch_detail' targetdate.batch.id %}">{{ targetdate.batch.batch_number }}</a>
                                </div>
                                {% endif %}
                                <div class="d-flex flex-row gap-1 px-2 py-1 rounded-2 mb-2 flex-fill {% if targetdate.batch.manufacture_date > today_date %}bg-blu{% else %}bg-darky-light{% endif %}">
                                    <p class="m-0 m-auto text-black {% if targetdate.batch.manufacture_date > today_date %} text-azul {% endif %}"><span class="fw-semibold">D.O.M:</span> {{ targetdate.batch.manufacture_date }}</p>
                                </div>
                            </div>
                        </div>
                        <div class="d-flex flex-row align-items-center gap-2">
                            <p class="fw-semibold m-0">Product Code:</p>
                            <p class="m-0">{{ targetdate.batch.product_code }}</p>
                        </div>
                        <div class="d-flex flex-row align-items-start gap-2">
                            <p class="m-0"><span class="fw-semibold m-0">Product: </span>{{ targetdate.batch.product_code.product }}</p>
                        </div>
                        <div class="d-flex flex-row align-items-center gap-2">
                            <p class="fw-semibold m-0">Presentation:</p>
                            <p class="m-0">{{ targetdate.batch.product_code.presentation }}</p>
                        </div>
                        <div class="d-flex flex-row align-items-center gap-2">
                            <p class="fw-semibold m-0">BOM Received:</p>
                            <p class="m-0">{% if targetdate.batch.bom_received == True %} Yes {% else %} No {% endif %}</p>
                        </div>
                        <div>
                            <p class="m-0"><span class="fw-semibold m-0">Notes: </span>{{ targetdate.batch.notes|default:"Requires Check" }}</p>
                        </div>
                        <div class="d-flex flex-row align-items-center gap-2 py-1">
                            <p class="fw-semibold m-0">Target Start Date:</p>
                            <p class="m-0 px-2 bg-darky-light text-secondary rounded-pill">{{ targetdate.target_start_date }}</p>
                        </div>  
                        <div class="d-flex flex-row align-items-center gap-2">
                            <p class="fw-semibold m-0">Target End Date:</p>
                            <p class="m-0">{{ targetdate.target_end_date }}</p>
                        </div>
                        <div class="d-flex flex-row align-items-center gap-2">
                            <p class="fw-semibold m-0">Complete Date Target:</p>
                            <p class="m-0">{{ targetdate.batch.complete_date_target }}</p>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}
