{% extends 'base.html' %}

{% block title %}
Batch Locations
{% endblock %}

{% block content %}
    <h1 class="pt-4 pb-2">Batch Locations</h1>
    <div class="d-flex align-items-center justify-content-start gap-3 flex-wrap">
        {% for batch in batches %}
            <a class="py-2 px-3 bg-darky rounded-3 text-decoration-none shdw" href="{% url 'location' batch.id %}">
                <p class="m-0 text-center fw-semibold">{{ batch.batch_number }}</p>
            </a>
        {% endfor %}
    </div>
    <br>
    <nav aria-label="pagination">
        <ul class="pagination justify-content-center">
            {% if batches.has_previous %}
          <li class="page-item">
                <a class="page-link" href="?page=1">First</a>
          </li>
          <a class="page-link" href="?page={{ batches.previous_page_number }}">Previous</a>
          {% else %}
          <li class="page-item disabled">
            <a class="page-link" href="?page=1" >First</a>
      </li>
      <a class="page-link disabled" href="#"  aria-disabled="true">Previous</a>
          {% endif %}
          <li class="page-item active" aria-current="page">
            <a class="page-link" href="#">{{ batches.number }}</a>
          </li>
          {% if batches.has_next %}
        <li  class="page-item">
          <a class="page-link" href="?page={{ batches.next_page_number }}">Next</a>
        </li>
        <a class="page-link" href="?page={{ batches.paginator.num_pages }}">Last</a>
            {% else %}
            <li  class="page-item disabled">
                <a class="page-link" href="#">Next</a>
              </li>
              <a class="page-link disabled" href="#">Last</a>
            {% endif %}
        </ul>
      </nav>
{% endblock %}