{% extends 'base.html' %}

{% block title %}
Batch Locations
{% endblock %}

{% block content %}
    <h1 class="pt-4 pb-2">Batch Locations</h1>
    <div class="d-flex align-items-center justify-content-start gap-3 flex-wrap">
        {% for batch in batches %}
            <a class="py-2 px-3 bg-darky rounded-3 text-decoration-none shdw" href="{% url 'location' batch.id %}">
                <p class="m-0 text-center fw-semibold">{{ batch.batch_number }}</p>
            </a>
        {% endfor %}
    </div>
{% endblock %}