{% extends 'base.html' %}

{% block title %}
Batch - {{ batch.batch_number }}
{% endblock %}

{% block content %}
    <h2>Batch {{ batch.batch_number }}{% if user.is_authenticated %} - <a href="{% url 'edit_batch' batch.id %}">Edit Batch</a> <a href="{% url 'batch_history' batch.id %}">Batch History</a> - <a href="{% url 'location' batch.id %}">Bay History</a>{% endif %}</h2>
    <p>Product Code: {{ batch.product_code }}</p>
<p>Product: {{ batch.product_code.product }}</p>
<p>Presentation: {{ batch.product_code.presentation }}</p>
   {% if batch.on_hold == True %}<p>On Hold: Yes </p>{% endif %}
<p>BOM recieved: {% if batch.bom_received == True %} Yes {% else %} No {% endif %}</p>
<p>Samples received: {% if batch.samples_received == True %} Yes {% else %} No {% endif %}</p>
<p>Notes: {{ batch.notes }}</p>
<p>Complete Target Date: {{ batch.complete_date_target }}</p>
<p>Batch Complete: {% if batch.batch_complete == True %} Yes {% else %} No {% endif %}</p>
   {% if batch.batch_complete == True %}
   {% if batch.batch_complete_date.date < batch.complete_date_target %}
      <p style="color: green;">Batch Complete Date: {{ batch.batch_complete_date }}</p>
   {% else %}
      <p style="color: red;">Batch Complete Date: {{ batch.batch_complete_date }}</p>
   {% endif %}
<p>Batch Completed by: {{ batch.completed_by }}</p>
{% endif %}
<p>Production Check: {% if batch.production_check == True %} Yes {% else %} No {% endif %}</p>
   {% if batch.production_check == True %}
<p>Production Check Date: {{ batch.production_check_date }}</p>
<p>Production Check by: {{ batch.production_checked_by }}</p> 
<p>Batch added by: {{ batch.created_by }}</p>
<p>Batch created at: {{ batch.created_at }}</p>
<p>Batch last edited at: {{ batch.last_modified_at }}
   {% endif %}
</p>
{% if user.is_authenticated %}
{% if comments %}
    <!-- Display Comments -->
    <h2>Comments</h2>
    <ul>
        {% for comment in comments %}
            <li>{{ comment.user.username }} - {{ comment.timestamp }}<br>{{ comment.text }}</li>
        {% endfor %}
    </ul>
    {% endif %}
    <!-- Add Comment Form -->
    <h2>Add Comment</h2>
    <form method="post" action="{% url 'batch_detail' batch.id %}">
        {% csrf_token %}
        {{ comment_form.as_p }}
        <button class="btn btn-primary" type="submit">Add comment</button>
    </form>
   {% endif %}
{% endblock %}