/* Grid */
.grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(410px, 1fr)); /* Adjust the column width as needed */
    grid-gap: 10px; /* Adjust the gap between items as needed */
}

.grid-item {
  padding: 8px;
}

.grid-item.border.border-secondary-subtle.rounded-4.shdw.bg-danger {
    color: white;
}

/* Custom background colors */
/* UI update will use Sass */
.bg-cherry {
    background-color: #ffc5c5;
}

.bg-darky {
    background-color: #e1e8ee;
}

.bg-darky-light {
    background-color: hsla(208, 28%, 91%, 0.863);
}

.bg-darky-lighter {
    background-color: hsla(208, 28%, 91%, 0.35);
}

.bg-blu {
    background-color: #C7DBFF;
}

.text-azul {
    color: #0D6EFD;
}

/* Shadow */
.shdw {
    box-shadow: 0 0 24px 0 hsla(0, 0%, 0%, 0.075);
}

/* Tags */
.tag p {
    font-size: 14px !important;
}

/* Display tags */
.on {
    display: inline-flex !important;
}

/* Buttons */
.bttn {
    cursor: pointer;
    transition: all 0.25s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.bttn:hover {
    background-color: #0D6EFD;
}

.bttn:hover p {
    color: white !important;
}

.bttn:active {
    background-color: #0d5ace;
}

.bttn p {
    font-size: 14px;
}
 