.grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(410px, 1fr)); /* Adjust the column width as needed */
    grid-gap: 10px; /* Adjust the gap between items as needed */
}

.grid-item {
  padding: 8px;
}

.grid-item.border.border-secondary-subtle.rounded-4.shdw.bg-danger {
    color: white;
}

.bg-cherry {
    background-color: #ffc5c5;
}

.bg-darky {
    background-color: #e1e8ee;
}

.bg-darky-light {
    background-color: #e1e8eedc;
}

.bg-blu {
    background-color: #C7DBFF;
}

.text-azul {
    color: #0D6EFD;
}

.shdw {
    box-shadow: 0 0 24px 0 hsla(0, 0%, 0%, 0.075);
}

.tag p {
    font-size: 14px !important;
}

.on {
    display: inline-flex !important;
}
 